mixin generatePop(avatarUrl)
  .popup
    img.author-profile(src=avatarUrl onclick='showMenu()')
    #drop-down.drop-down-container
      a.menu(href='/user/editor') Write new post
      a.menu(href='/user/posts/drafts') My posts
      a.menu(href='/user/signOut') Sign out

mixin generateMenuBar(avatarUrl)
  #menu-bar
    #logoBox
      a(href="/")
        img#logo
    #actions
      if avatarUrl
        +generatePop(avatarUrl)
      else
        #buttonsBox
          a.link-text(href='/signIn')
            span.sign_in.action-button Sign in

head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='UTF-8')
  link(rel="stylesheet" href="/css/menubar.css")
  link(rel="stylesheet" href="/css/post.css")

  script. 
    const hideMenu = function() {
      const popup = document.getElementById("drop-down");
      popup.classList.remove("show");
    }

    const showMenu = function() {
      const popup = document.getElementById("drop-down");
      popup.classList.toggle("show");
    }

    window.onclick = function(event) {
     if (document.querySelector('.popup .author-profile')&&!event.target.matches('.author-profile')) {
       hideMenu()
     }
    }
