#main {
  display: flex;
  justify-content: center;
}

.normal {
  text-decoration: none;
  color: gray;
}

#container {
  width: 60%;
}

.your_posts {
  font-size: 2rem;
}

.line {
  width: 100%;
}

.post-types {
  display: flex;
  justify-content: left;
}

.type {
  font-size: 1rem;
  margin: 0 0.6rem 0 0;
}

.container-post {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 0.5px solid #ada6a6;
}

.data-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.title-post {
  width: 86%;
  font-size: 1.7rem;
}

.info-post {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.trash-icon {
  width: 22px;
}
