body {
  font-family: medium-content-sans-serif-font, 'Lucida Grande',
    'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
}
#title {
  text-decoration: none;
  color: black;
  text-align: left;
  width: 100%;
  white-space: nowrap;
}

.user-options {
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
  position: absolute;
  background-color: white;
  left: 1050.5px;
  width: 250px;
}

.post {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  height: fit-content;
  margin-bottom: 1.5rem;
  border: 1px solid gray;
  padding: 0.3rem;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.headers {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.cover-image {
  width: 20%;
  height: auto;
  margin: auto 0;
}
.head-line {
  font-size: 22px;
  font-weight: 600;
  width: 80%;
}
.details {
  margin-top: 9px;
  font-size: 17px;
  color: #58585b;
}
.author-name {
  font-size: 13px;
  color: #555252;
}

button:hover {
  cursor: pointer;
}
