.all-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  display: flex;
  width: 58%;
  flex-direction: row;
  min-height: 150px;
  margin: 15px auto;
  padding-right: 11px;
  margin-bottom: 0.5rem;
  border-bottom: slategrey solid 0.3px;
}

.post {
  justify-content: space-between;
  display: flex;
  width: 80%;
  flex-direction: column;
}

.cover-image-post {
  width: 20%;
  height: 140px;
  overflow: hidden;
  object-fit: cover;
}

.user-details {
  display: flex;
  flex-direction: row;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 22px 0px;
}

.title-text {
  width: 97%;
  font-size: 23px;
}

.title-text:hover {
  text-decoration: underline;
}

.profile {
  width: 35px;
  height: 35px;
  margin: 23px 11px 0px 0px;
}

.title-link {
  text-align: left;
  width: 100%;
}

.search-container input[type='search'] {
  outline: none;
  font-family: inherit;
  font-size: 100%;
  background: url('/images/search.svg') no-repeat;
  padding: 9px 10px 9px 32px;
  transition: all 0.5s;
  width: 15px;
  height: 25px;

  color: transparent;
  cursor: pointer;
  border: none;
}

.search-container input[type='search']:focus {
  width: 250px;
  padding-left: 32px;
  color: #000;
  cursor: auto;
}
