body {
  font-family: medium-content-sans-serif-font, 'Lucida Grande',
    'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
  margin: 0px;
}

#post {
  display: flex;
  flex-direction: column;
}

.ce-block__content {
  width: 800px;
}

#title {
  outline: none;
  border-style: none;
  font-size: 40px;
  max-width: 650px;
  margin: 30px 387px;
  color: black;
}

#title[placeholder]:empty:before {
  content: attr(placeholder);
  color: #b3b3b1;
}

#editorjs {
  font-size: 19px;
  color: #555252;
}

.sign_in {
  width: 9%;
  height: 2.3rem;
  background-color: #03a87c;
  color: whitesmoke;
  border: none;
  border-radius: 0.2rem;
  text-align: center;
  padding: 0.7rem 2rem;
}
