.post {
  display: flex;
  flex-direction: column;
}

.ce-block__content {
  width: 800px;
}

#title {
  outline: none;
  border-style: none;
  font-size: 40px;
  max-width: 800px;
  margin: 30px 315px;
  color: black;
}

#status {
  margin: 0.5rem 1.6rem;
  color: rgba(0, 0, 0, 0.54);
}

#title[placeholder]:empty:before {
  content: attr(placeholder);
  color: #b3b3b1;
}

#editorjs {
  font-size: 19px;
  color: #555252;
}

.ce-block__content {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
}

.ce-toolbar__actions {
  position: absolute;
  right: -95px;
  top: 5px;
  opacity: 1;
}

.ce-toolbar__plus {
  left: -110px;
}

.ce-block {
  margin-bottom: 10px;
}
