body {
  font-family: medium-content-sans-serif-font, 'Lucida Grande',
    'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
  margin: 0px;
}

#logo {
  content: url(/images/logo.png);
  height: 22px;
}

#logoBox {
  align-items: center;
  display: flex;
}

#menu-bar {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 0px 200px;
  background: aliceblue;
}

#user-profile {
  width: 32px;
  border-radius: 50%;
  height: 32px;
}

#post {
  display: flex;
  flex-direction: column;
}

#publish {
  background: #03a87c;
  font-size: 15px;
  height: 28px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 17px;
}

#actions {
  display: flex;
  align-items: center;
}

#title {
  outline: none;
  border-style: none;
  font-size: 42px;
  margin-top: 40px;
  margin-left: 26.5vw;
  color: black;
  word-wrap: break-word;
}

#title[placeholder]:empty:before {
  content: attr(placeholder);
  color: #b3b3b1;
}

#editorjs {
  font-size: 19px;
  margin-top: 20px;
  color: #555252;
}

#link_text {
  text-decoration: none;
}

.sign_in {
  width: 9%;
  height: 2.3rem;
  background-color: #03a87c;
  color: whitesmoke;
  border: none;
  border-radius: 0.2rem;
  text-align: center;
  padding: 0.7rem 2rem;
}
