.notfound {
  align-self: center;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}

.oops {
  font-size: 86px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
  color: #151515;
}

.error-msg {
  font-size: 26px;
  margin: 0px 20px 38px;
  font-weight: 700;
  color: #151515;
}

.dashboard-button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 15px;
  font-weight: 700;
}
