body {
  font-family: medium-content-sans-serif-font, 'Lucida Grande',
    'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
}

.notfound {
  align-self: center;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}

.oops {
  font-size: 86px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
  color: #151515;
}

.error-msg {
  font-size: 26px;
  margin: 0px 20px 38px;
  font-weight: 700;
  color: #151515;
}

.action-button {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #03a87c;
  padding: 15px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
}
