body {
  font-family: medium-content-sans-serif-font, 'Lucida Grande',
    'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
  margin: 0px;
}

#logo {
  content: url(/images/logo.png);
  height: 22px;
}

#logoBox {
  align-items: center;
  display: flex;
}

#actions {
  display: flex;
  align-items: center;
}

.action-button {
  background: #03a87c;
  text-align: center;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 5px;
  font-size: 15px;
  height: 28px;
  cursor: pointer;
}

#buttonsBox {
  margin-right: 17px;
}

#link_text {
  text-decoration: none;
}

#menu-bar {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 0px 200px;
  background: white;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 2;
}

#user-profile {
  width: 42px;
  border-radius: 50%;
}

.sign_in {
  width: 9%;
  height: 2.3rem;
  background-color: #03a87c;
  color: whitesmoke;
  border: none;
  border-radius: 0.2rem;
  text-align: center;
  padding: 0.7rem 2rem;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .drop-down-container {
  visibility: hidden;
  min-width: 180px;
  background-color: white;
  color: #fff;
  border-radius: 3px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 27%;
  margin-left: -80px;
  top: 132%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
}

.popup .drop-down-container::before {
  content: '';
  position: absolute;
  bottom: 92%;
  left: 45%;
  border-width: 8px;
  border-style: solid;
  border-color: white;
  box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.84);
  transform: rotate(45deg);
}

.menu {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  padding: 7px 25px;
}

.menu:hover {
  color: black;
}

.popup .show {
  visibility: visible;
  animation: fadeIn 0.2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.search-container {
  float: right;
  display: flex;
  flex-direction: row;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-container button:hover {
  background: #ccc;
}

.search-container input[type='text'] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
