#all-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.container-post {
  display: flex;
  justify-content: space-between;
  width: 58%;
  height: 30%;
  padding: 0 1rem;
  margin: 0 auto;
  border-bottom: 0.5px solid #ada6a6;
}

.data-post {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.cover-image-post {
  width: 20%;
  height: auto;
  margin: 0.7rem 0;
}

.title-post {
  font-size: 1.7rem;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.author-details-post {
  font-size: 1rem;
  font-weight: normal;
  color: black;
}

.info-post {
  margin-top: 7px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.date {
  margin-top: 3px;
  font-size: 12px;
  color: #58585b;
}

.data {
  font-size: 1rem;
  color: #58585b;
  width: 95%;
  margin-top: 5px;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 3px;
}
