.title {
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link-text {
  text-decoration: none;
  color: black;
}

.author-name {
  font-size: 16px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.date {
  margin-top: 3px;
  font-size: 13px;
  color: #58585b;
}

.author-profile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.author-url:hover,
.author-name:hover {
  text-decoration: underline;
}

.data {
  font-size: 16px;
  color: #58585b;
  width: 97%;
  margin-top: 5px;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 14px 10px 1px;
}
