.all-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.post {
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: slategrey solid 0.3px;
  display: flex;
  flex-direction: column;
  width: 58%;
  min-height: 150px;
  margin: 15px auto;
  padding-right: 11px;
}

.user-details {
  display: flex;
  flex-direction: row;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 22px 0px;
}

.author-name {
  font-size: 16px;
}

.date {
  margin-top: 3px;
  font-size: 13px;
  color: #58585b;
}

.title-text {
  font-size: 23px;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.author-profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 23px 11px 0px 0px;
}

.data {
  font-size: 16px;
  color: #58585b;
  width: 97%;
  margin-top: 5px;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 14px 10px 1px;
}

.title {
  text-decoration: none;
  color: black;
  text-align: left;
  width: 100%;
}

.author_url {
  text-decoration: none;
  color: black;
}
.author_url:hover {
  text-decoration: underline;
}
