#preview {
  position: absolute;
  background: white;
  top: 0;
  left: 22%;
  width: 56%;
  height: 500px;
  border: 1px solid rgba(230, 230, 230, 1);
  box-shadow: 0 1px 4px rgba(230, 230, 230, 1);
  margin: 7% auto;
  display: flex;
  flex-direction: row;
}

.display-preview {
  visibility: visible;
}

.hide-preview {
  visibility: hidden;
}

.preview-content {
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: column;
  padding: 23px;
}

.actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 29%;
}

#preview-title {
  font-size: 21px;
}

#cover-image {
  width: 90%;
  height: 150px;
  margin: 30px 0px;
  border: solid 0.3px gray;
  cursor: pointer;
}

#post-content {
  font-size: 16px;
}

#preview-publish {
  background: #03a87c;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  height: 40px;
  cursor: pointer;
}

#added-tags {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

#tag {
  height: 30px;
  margin: 20px 0px;
}

.added-tag {
  height: 30px;
  width: 78px;
  display: flex;
  flex-direction: row;
  background-color: grey;
  color: white;
  padding: 10px 9px 0px 9px;
  text-align: left;
  margin: 3px;
}

#exit-icon {
  width: 23px;
  height: 23px;
  margin: 1.7% 0% 0 95%;
  position: absolute;
  cursor: pointer;
}

#file {
  display: none;
}

.close {
  position: relative;
  width: 7px;
  left: 74px;
  cursor: pointer;
  bottom: 16px;
}

.tag-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
