#preview {
  position: absolute;
  background: white;
  top: 0;
  left: 28%;
  width: 45%;
  height: 500px;
  border: 1px solid rgba(230, 230, 230, 1);
  box-shadow: 0 1px 4px rgba(230, 230, 230, 1);
  margin: 7% auto;
  display: flex;
  flex-direction: column;
}

.display-preview {
  visibility: visible;
}

.hide-preview {
  visibility: hidden;
}

.preview-content {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 23px;
}

.actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 96%;
  margin: 0 23px;
}

#preview-title {
  font-size: 21px;
  margin-right: 45px;
}

#cover-image {
  width: 93%;
  height: 180px;
  margin: 30px 0px;
  border: solid 0.3px gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  object-fit: cover;
}

#post-content {
  font-size: 16px;
}

#preview-publish {
  border-radius: 5px;
  font-size: 17px;
  margin: 4px 15px;
  height: 39px;
  width: 15%;
}

#tag {
  outline: none;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  border: solid 1px gray;
  padding: 4px 5px;
  border-radius: 5px;
  overflow: scroll;
  right: 0;
}

#tag input {
  height: 39px;
  max-width: 100%;
  flex-grow: 1;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 15px;
}

.added-tag {
  height: 24px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  background-color: grey;
  color: white;
  padding: 6px 9px 0px 9px;
  text-align: left;
  margin: 3px 5px;
  border-radius: 5px;
  font-size: 14px;
}

#exit-icon {
  width: 23px;
  height: 23px;
  margin: 1.7% 0% 0 95%;
  position: absolute;
  cursor: pointer;
}

#file {
  display: none;
}

.close {
  position: relative;
  width: 7px;
  left: 74px;
  cursor: pointer;
  bottom: 16px;
}

.tag-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#instruction {
  margin: 0px 216px;
}

#preview-error {
  text-align: center;
  color: red;
  margin-top: 13px;
  height: 4px;
}

.cross-button {
  margin-left: 15px;
  cursor: pointer;
}
