.user {
  display: flex;
  flex-direction: row;
  outline: none;
  max-width: 650px;
  margin: 10px 0px 33px 325px;
  color: black;
}

.userInfo {
  margin: auto 15px;
  display: flex;
  flex-direction: column;
}

#horizontal-line {
  width: 57%;
}

.user-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 58%;
  margin: 50px auto;
  padding-left: 12%;
}

.cover-image {
  width: 56%;
  height: 400px;
  margin: 12px 22%;
}

.tags {
  display: flex;
  flex-direction: row;
  margin: 0 22%;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: -17rem;
}

.added-tag {
  height: 30px;
  width: fit-content;
  background-color: rgba(242, 242, 242, 1);
  color: rgb(116, 110, 110);
  padding: 10px 10px 0px 10px;
  text-align: center;
  margin: 0px 25px 27px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#clap {
  width: 36px;
  cursor: pointer;
}

.clap-action {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

#clapCount {
  margin-left: 10px;
  color: #292929;
}

.unavailable {
  filter: opacity(0.4);
  pointer-events: none;
}

.comment-icon {
  width: 36px;
}

.comment-text:hover {
  text-decoration: underline;
}

.comment-text {
  margin-left: 11px;
  text-decoration: none;
}
