.user {
  display: flex;
  flex-direction: row;
  outline: none;
  max-width: 650px;
  margin: 10px 0px 33px 325px;
  color: black;
}

.userInfo {
  margin: auto 15px;
  display: flex;
  flex-direction: column;
}

#date {
  font-size: 0.7rem;
  margin-top: 3px;
}

#user-profile {
  width: 42px;
  border-radius: 50%;
}

.user-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 58%;
  margin: 0 auto;
}

.user-action {
  border: solid #03a87c 0.5px;
  height: 46px;
  color: #03a87c;
  font-size: 17px;
  background: white;
  width: 250px;
  outline: none;
  border-radius: 3px;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}

.author_url {
  text-decoration: none;
  color: black;
}

.author_url:hover {
  text-decoration: underline;
}

.cover-image {
  width: 56%;
  height: 400px;
  margin: 12px 22%;
}

.tags {
  display: flex;
  flex-direction: row;
  margin: 0 22%;
  justify-content: flex-start;
  margin-top: -17rem;
}

.added-tag {
  height: 30px;
  width: 78px;
  background-color: rgba(242, 242, 242, 1);
  color: rgb(116, 110, 110);
  padding-top: 10px;
  text-align: center;
  margin: 0px 25px 27px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#clap {
  width: 36px;
  cursor: pointer;
}

.clap-action {
  display: flex;
  align-items: center;
}

#clapCount {
  margin-left: 10px;
  color: #292929;
}

.unavailable {
  filter: opacity(0.4);
  pointer-events: none;
}
