.user-profile {
  display: flex;
  flex-direction: row;
  width: 58%;
  margin: 50px auto auto;
  justify-content: space-around;
  padding-bottom: 45px;
  border-bottom: solid 0.5px #c2bfbf;
}

.user-info {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 23px;
  font-weight: 550;
  margin: 31px 0px 21px 0px;
}

.profile-picture {
  width: 120px;
  border-radius: 50%;
}

.follow-details {
  margin-right: 10px;
  font-size: 14px;
  color: gray;
}
