doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/css/comments.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Comments
#newComment
  .user-details
    img.user-profile(src='https://avatars1.githubusercontent.com/u/58026823?s=60&v=4')
    span.username Anuja Chaitanya
  p#new-comment.comment(contenteditable='true' placeholder='Write your thoughts here ...')
  button#publish Publish
.comment-box
  .user-details
    img.user-profile(src='https://avatars1.githubusercontent.com/u/58026823?s=60&v=4')
    span.username Anuja Chaitanya
  p.comment
    | These are my some comments These are my some comments These are my some
    | comments These are my some comments These are my some comments These are
    | my some comments These are my some comments These are my some comments
    | These are my some comments These are my some comments These are my some
    | comments These are my some comments These are my some comments These are
    | my some commentsThese are my some comments These are my some comments
    | These are my some comments These are my some comments These are my some
    | commentsThese are my some comments
.comment-box
  .user-details
    img.user-profile(src='https://avatars1.githubusercontent.com/u/58026823?s=60&v=4')
    span.username Anuja Chaitanya
  p.comment
    | These are my some comments These are my some comments These are my some
    | comments These are my some comments These are my some comments These are
    | my some comments
