include ./lib/lib.pug

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/user/css/menubar.css')
  link(rel='stylesheet' href='/user/css/userProfile.css')
  script(src="/user/js/editor.js")
  title PostIt | Edit profile

+generateMenuBar(avatarUrl)
form(action="/user/updateProfile" method="post" enctype='multipart/form-data')
  .user-profile
    .user-info
      .user-name
        input.username(value=displayName name="displayName" required)
      .user-name
        button.profile-action(type=submit) save
        a.link-text(href=`/profile/${userId}`)
          span.profile-action.cancel-button cancel
    input#file(type='file' name='file' onchange='renderImage(event)' style="display:none" required)
    label#cover-image.profile-picture(for='file')
      img.profile-picture(src=avatarUrl alt='cricket')
