doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/user/css/editor.css')
  link(rel='stylesheet' href='/user/css/menubar.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt
  script(type='module' src='/user/js/editor.js')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/header@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/list@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest')
#menu-bar
  #logoBox
    img#logo
  #actions
    #buttonsBox
      button.action-button#publish Publish
    img#user-profile(src=avatar_url)
#post
  #title(contenteditable='true' placeholder='Title..')
  #editorjs
