include ./lib/lib.pug

head
  meta(charset='UTF-8')
  script(src="/js/request.js")
  script(src="/js/profile.js")
  link(rel='stylesheet' href='/css/userProfile.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt | User profile
+generateMenuBar(avatarUrl,userId)
+getProfileHeader(userDetails,avatarUrl,followersDetails.followersCount, followersDetails.followingCount, followersDetails.isFollowing)
hr.separator

.all-posts
  p#follow-text 
    b=header
  each follower in followers
    .post
      .user-details
        img.profile(src=follower.avatarUrl)
        .details
          a(href=`/profile/${follower.userId}`).author-name=follower.username