include ./lib/lib.pug

head
  meta(charset='UTF-8')
  script(src="/js/request.js")
  script(src="/js/profile.js")
  link(rel='stylesheet' href='/css/userProfile.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt | User profile
+generateMenuBar(avatarUrl)
+getProfileHeader(username, userId, avatarUrl, authorAvatar,followersCount, followingCount)
.all-posts
  p#follow-text 
    b=header
  each follower in followers
    .post
      .user-details
        img.profile(src=follower.avatarUrl)
        .details
          span.author-name=follower.username
          span.follow-option follow