include ./menubar.pug
link(rel="stylesheet", href="/css/allPosts.css")
#main
  #container
    p.your_posts  Your Posts 
    .post-types
      a(href='')
      p#drafted.type
        | Drafted 
        span#draft-count  0 
      p.type  | 
      p#published.type
        | Published 
        span#publish-count  0 
    hr
  each value in posts 
    .container-post
      .data-post
        .title-post(title=value.title)
      .info-post
        span.date=takeMoment(value.last_modified)