doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/css/editor.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt
  script.
    const render = function(data) {
    let editor = new EditorJS({
    holderId: 'editorjs',
    data,
    tools: {
    paragraph: {
    class: Paragraph,
    },
    Lists: {
    class: List,
    },
    },
    onReady : disableEdit,
    });
    }
    const disableEdit = () => {
      document.querySelectorAll('[contenteditable=true]')
    };
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/header@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/list@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest')

body(onload=`render(${data})`)  

#menu-bar
  #logoBox
    img#logo
  #actions
    if avatar_url
      img#user-profile(src=avatar_url)
    else
      #buttonsBox
        a#link_text(href='/signIn')
          span.sign_in Sign in
#post
  #title=title_text
  #editorjs
